* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    min-width: 80px;
    padding: 3px 5px;
    margin-left: 30px;
}

.card {
    padding: 30px 20px;
    display: block;
    color: white;
    z-index: 3;
    width: 400px;
    margin: 40px auto;
    border: 1.5px solid #888;
    border-radius: 4px;
}

.card input {
    display: block;
    padding: 6px 5px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

.card h3 {
    color: black;
    margin-bottom: 20px;
    padding-left: 1em;
}

.card .btn {
    padding: 4px 10px;
    border: 0.5px solid blueviolet;
    border-radius: 2.5px;
    background-color: blueviolet;
    color: white;
}

.card .btn1 {
    border: 0.5px solid black;
    border-radius: 2.5px;
    color: white;
    background-color: black;
    padding: 4px 10px;
}

.card .task {
    color: black;
    display: block;
    text-decoration: none;
    padding: 6px 5px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border: 0.5px solid #333;
    overflow: auto;
}

.card li span {
    float: left;
}

.card li i {
    padding-top: 2px;
    float: right;
}